*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --body-bg: linear-gradient(315deg, #fdba74 0%, #fb923c, #ea580c);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 8rem;
}

main {
  position: relative;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  width: 100rem;
  height: 60rem;
  display: flex;
  overflow: hidden;
  color: #333;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.75s;
}

.player--active {
  background: rgba(255, 255, 255, 0.8);
}

.player .name {
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.player--active .name {
  font-weight: 600;
}

.player .score {
  font-size: 8rem;
  font-weight: 300;
  margin-bottom: auto;
  color: #fb923c;
}

.player--active .score {
  font-weight: 400;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #fb923c;
}

.current {
  background: #fb923c;
  color: #fff;
  padding: 2rem;
  width: 65%;
  border-radius: 9px;
  text-align: center;
  opacity: 0.8;
  transition: all 0.75s;
}

.player--active .current {
  opacity: 1;
}

.current--label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current--score {
  font-size: 3.5rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background: none;
  padding: 0.7rem 2.5rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  color: #333;
  cursor: pointer;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50rem;

  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-weight: 700;
  margin-right: 0.5rem;
}

.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39rem;
}

.btn--hold {
  top: 46.1rem;
}

.dice {
  position: absolute;
  top: 16rem;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
}

.winning--point {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  position: absolute;
  bottom: 0%;
  padding: 0.75rem 2rem;
  color: #333;
  font-size: 2.4rem;
  font-style: italic;
  text-align: center;
}

.hidden {
  display: none;
}
