*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.open {
  border: none;
  background-color: rebeccapurple;
  color: #fff;
  padding: 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.pop-up-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* display: flex; */
  display: none;
  align-items: center;
  justify-content: center;
}

.pop-up-container.active {
  display: flex;
}

.pop-up {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  padding: 3.2rem;
  position: relative;
  width: 40rem;
}

.pop-up button {
  background-color: #fff;
  color: rebeccapurple;
  border: none;
  position: absolute;
  font-size: 3.2rem;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

h1 {
  margin-bottom: 0.5rem;
}

p {
  font-size: 1.3rem;
}
